<div class="container">
  <!-- Header -->
  <header class="header fade-in">
    <button (click)="toggleSidebar()"><i [ngClass]="icon"></i></button>
    <img src="../assets/lockup_angular.svg" alt="Logo">
    <h1>Responsive Project</h1>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar fade-in" [ngClass]="{'collapsed': isSidebarCollapsed}">
    <nav>
      <ul>
        <li [class.router-link-active]="home.isActive"><a routerLink="/home" routerLinkActive="active" #home="routerLinkActive" (click)="hideSidebarOnMobile()"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
        <li [class.router-link-active]="form.isActive"><a routerLink="form" routerLinkActive="active" #form="routerLinkActive" (click)="hideSidebarOnMobile()"><i class="fa-solid fa-file"></i><span>InterActive Form</span></a></li>
        <li [class.router-link-active]="api.isActive"><a routerLink="api" routerLinkActive="active" #api="routerLinkActive" (click)="hideSidebarOnMobile()"><i class="fa-solid fa-server"></i><span>API Integration</span></a></li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>    
  </main>

  <!-- Footer -->
  <footer class="footer fade-in">
    <p>&copy; CopyWrites 2024</p>
    <p>Coded by <a href="https://chandrakanthmane.github.io/" target="_blank">Chandrakanth Mane</a></p>
  </footer>
</div>
