<!-- app.component.html -->
<div class="container">
  <!-- Header -->
  <header class="header fade-in">
    <img src="../assets/lockup_angular.svg" alt="Logo">
    <h1>Responsive Project</h1>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar fade-in" [ngClass]="{'collapsed': isSidebarCollapsed}">
    <nav>
      <ul>
        <li [class.router-link-active]="home.isActive"><a routerLink="/home" routerLinkActive="active" #home="routerLinkActive"><i class="fa-solid fa-house"></i>Home</a></li>
        <li [class.router-link-active]="form.isActive"><a routerLink="form" routerLinkActive="active" #form="routerLinkActive">Interactive Form</a></li>
        <li [class.router-link-active]="api.isActive"><a routerLink="api" routerLinkActive="active" #api="routerLinkActive">API Integration</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content fade-in">
    <!-- <button class="toggle-btn" (click)="toggleSidebar()">Toggle Sidebar</button> -->
    <router-outlet></router-outlet>
    
  </main>

  <!-- Footer -->
  <footer class="footer fade-in">
    <p>&copy; CopyWrites 2024</p>
    <p>Coded by <a href="https://chandrakanthmane.github.io/" target="_blank">Chandrakanth Mane</a></p>
  </footer>
</div>
